<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polygphone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Final"></activity>
        <activity android:name=".Compare" />
        <activity android:name=".Choice" />
        <activity android:name=".RecordingAnkle" />
        <activity android:name=".RecordingKnee" />
        <activity android:name=".RecordingHip" />
        <activity android:name=".Finish" />
        <activity android:name=".Transmission" />
        <activity android:name=".GyroSensorListenerHip" />
        <activity android:name=".GyroSensorListenerKnee" />
        <activity android:name=".GyroSensorListenerAnkle" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LiveData" />
        <activity android:name=".Welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>